@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gradient-bg-welcome {
 
background-color: #000000;

}

/* 
.gradient-bg-welcome:hover{
  color: #0f0e13;
} 
 */




.gradient-bg-services {
  background-color:#000000;
  background-image: 
    radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
    /* radial-gradient(at 50% 100%, hsla(225,39%,25%,1) 0, transparent 50%); */
}

.gradient-bg-transactions {
  background-color: #000000;
  
}

.gradient-bg-footer {
  background-color: #0f0e13;
  background-image: 
    radial-gradient(at 0% 100%, hsla(253,16%,7%,1) 0, transparent 53%), 
    radial-gradient(at 50% 150%, hsla(339,49%,30%,1) 0, transparent 50%);
}

.blue-glassmorphism {
/* From https://css.glass
background: rgba(0, 226, 255, 1);

backdrop-filter: blur(15.5px);
-webkit-backdrop-filter: blur(15.5px); */




color: #C5C508;
border-radius: 16px;
border: none;
box-shadow: 0.1rem 0.2rem 0.1rem 0.5rem #00E2FF;
backdrop-filter: blur(2.1px);
-webkit-backdrop-filter: blur(20.1px);
}

/* white glassmorphism */
/* .white-glassmorphism {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15.5px);
  -webkit-backdrop-filter: blur(15.5px);
} */



.white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid #ffffff4d;
}
.eth-card {
  /* From https://css.glass */
background: rgba(255, 208, 70, 0.76);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.1px);
-webkit-backdrop-filter: blur(3.1px);
 
}

.text-gradient {
  background-color: #fff;
  background-image: radial-gradient(at 4% 36%, hsla(0,0%,100%,1) 0, transparent 53%), radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@tailwind base;
@tailwind components;
@tailwind utilities;